type fm_radio_device, dev_type;

#Define the logging device type
type device_latency, dev_type;

#Add qdsp_device type
type qdsp_device, dev_type, mlstrustedobject;
